
/* ----------------------------------------------------------------------------------------------- */


/* Baby Doll font */
@font-face {
  font-family: 'BabyDoll';
  src: url('./fonts/baby-doll.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Autography font */
@font-face {
  font-family: 'Autography';
  src: url('./fonts/autography.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Sen font class */
.sen {
  font-family: 'Sen', serif;
  font-optical-sizing: auto;
  font-weight: 800; /* You can change this to 300, 700, etc. */
  font-style: normal;
}




/* ----------------------------------------------------------------------------------------------- */

 /* Copy & Paste Behaviours */

  /* [ .invert-cursor ] to make cursor white */

.reset-btn {
  border: none;              /* Removes default border */
  background: none;          /* Removes default background */
  padding: 0;                /* Removes default padding */
  margin: 0;                 /* Removes default margin */
  font: inherit;             /* Ensures the button inherits font styles from parent */
  color: inherit;            /* Ensures the button inherits text color */
  display: flex;             /* Enables flex layout for the button's content */
  align-items: center;       /* Vertically centers the content */
  gap: 5px;                  /* Adds spacing between the icon and text */
  cursor: pointer;           /* Ensures pointer cursor on hover */
  text-decoration: none;     /* Removes underline (in case it inherits from links) */

}

.hover,
.hover * {
    cursor: none !important; /* Forces the cursor to be hidden, even on interactive elements */
}

/* ----------------------------------------------------------------------------------------------- */


body {
  cursor: none;
}

.custom-cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    border: 2px solid #212653;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.custom-cursor-dot {
    width: 5px;
    height: 5px;
    background-color: #F7D148; /* Yellow dot by default */
    border-radius: 50%;
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.d-none {
  display: none !important;
}


#index {
  Height: auto;
  background-color: whitesmoke;
}

#works {
  Height: auto;
  background-color: whitesmoke;
}

.navbar {
  height: 10vh;
  z-index: 1000; /* Ensures the navbar stays on top of other content */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
  font-size: 13px;
  font-family: 'BabyDoll', sans-serif;
}

.navbar-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar-brand img {
 margin: 30px;
  height: 35px; /* Adjust logo size */
}

.navbar .nav-link {
  color: white; /* Set the color to white */
  transition: color 0.3s ease; /* Smooth transition effect */
}

.navbar .nav-link:hover {
  color: rgba(255, 255, 255, 0.5); /* White with 70% opacity */
  transition: color 0.3s ease; /* Smooth transition */
}

.resume-container {
  display: none;
}

/* Ensure resume button is visible in expanded menu */
.navbar-collapse .resume-button {
  display: block;
}

@media (max-width: 991.98px) {

  .navbar-toggler {
    position: absolute;
    right: 20px; /* Adjust this value as needed */
    top: 15px;  /* Adjust this value as needed */
    z-index: 1020; /* Ensure it's above other elements */
  }
  
  .navbar {
    position: relative; /* Ensure positioning context for the navbar-toggler */
  }

  .navbar-nav {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
  }

  .navbar-collapse {
    text-align: center; /* Center-align text in the collapsed menu */
  }

  .navbar-brand {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Take full width of the navbar */
  }
}

.btn {
  font-size: 13px;
  color: antiquewhite;
  z-index: 100000;
} 


/* ----------------------------------------------------------------------------------------------- */


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}


/* ----------------------------------------------------------------------------------------------- */


#section2 {
  height: auto;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: top;
}

/* Adjust only the image inside section 2 */
#section2 .image {
  z-index: 1000;
  margin-top: -14%;
  margin-left: -30px;
  max-width: auto;          /* Limit the image's width */
  max-height: 29vw;         /* Limit the image's height */
  object-fit: contain;     /* Ensure the image keeps its aspect ratio */
}


/* ----------------------------------------------------------------------------------------------- */


.aboutme {
  background-color: whitesmoke;
  width: 100%;
  min-height: 80vh; /* Adjustable height */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  text-align: center; /* Ensures text is centered */
   padding: 5vh 16vw;
}


/* ----------------------------------------------------------------------------------------------- */


.catalogue {
  display: flex;
  padding-top: 15vh;
  background-color: #F7D148;
  position: relative; /* Required for sticky behavior within the container */
  border-radius: 50px; /* Adjust the value for the desired corner roundness */
  flex-direction: row;

}

.section-title {
  height: auto;
  width: 40vw;
  top: 0; /* Keep it at the top of the container */
  text-align: center;
  font-size: 80pt;
  z-index: 10; /* Ensure the text stays above other content */
  /* Optional: Add padding or other styles to improve visibility */
}

.works {
  position: sticky;
  top: 0; /* Sticky to the top of the viewport */
  z-index: 100; /* Ensure it stays above other content */
  font-size: 80pt; /* Adjust size as needed */
  font-family: 'BabyDoll', sans-serif;
  color: #212653;
  text-align: center;
  height: 68vh;
  padding-top: 16vh;
  padding-left: 50px;
}

.categories {
  width: 60vw;
  padding-bottom: 15vh;
}

.category {
  height: 25vw;
  background-size: 80%; /* Ensure the image covers the div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  color: white; /* Make text visible on top of the image */
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds shadow to the text for better visibility */
}

@media (max-width: 991.98px) {
  .catalogue {
    flex-direction: column; /* Stack items vertically */
    padding-top: 5vh;
  }

  .section-title {
    width: 100%;
    font-size: 40pt; /* Reduce font size for mobile */
  }

  .works {
    height: auto; /* Adjust height for better fit */
    padding-top: 5vh;
    font-size: 50pt; /* Smaller font size for mobile */
    padding: 0px;
  }

  .categories {
    width: 100%;
    padding-bottom: 10vh;
  }

  .category {
    height: 50vw; /* Make categories larger for better touch interaction */
  }
}


/* ----------------------------------------------------------------------------------------------- */

.portfolio-gallery {
  display: flex;
  padding-top: 5vh;
  width: 100vw;
}


.portfolio-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 63vw;
  margin: 0 auto;
}

/* Full-row item styling */
.portfolio-item {
  width: 100%;
  height: 70vh;
  margin-bottom: 3vh;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.portfolio-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  display: block;
  background-color: #F7D148;
  
}


.full-row-content {
  position: absolute;
  z-index: 100;
  width: 20vw;
  height: auto;
  bottom: 5vh;
  left: 4%;           /* Use flexbox to place h4 and p side by side */
  color: white;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.9);
}

.full-row-text {
  display: flex; 
  flex-direction: column;     
  width: 20vw;
  margin-left: -1.15vh;

  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  
}

.full-row-text h4 {
  font-size: 25pt;
  color: #f9c909;
  font-family: 'BabyDoll', sans-serif;
  line-height: 0.9; 
  text-align:center;
  padding-top: 1vh;

 margin-bottom: -0.5vw;
}

.full-row-text p {              /* Allows p to take up remaining space */
  line-height: 1.3;
  font-family: 'sen', serif;
  font-size: medium;
  font-weight: 400;
  color: #212653;
  width: 16vw;
  height: auto;
  text-align: center;
  margin: 3vh;
  
}

.side-by-side{
display: flex;
  height: 70vh;
  width: 100%;
  
}

.side-by-side .left{
  display: flex;
  flex: 1;
  padding-right: 3vw;
}

.side-by-side .right{
  display: flex;
  flex: 1;
}


.side-by-side-content {
  z-index: 100;
  width: 26vw;
  height: 10vh;
  position: absolute;
  bottom: 5vh;
  left: 4%;
  right: 10px;
  display: flex;                /* Use flexbox to place h4 and p side by side */
  gap: 10px;                    /* Adds spacing between h4 and p */
  color: white;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  
}

.side-by-side-text {
  display: flex; 
  flex-direction: column;     
  width: 20vw;
  height: 60vh;

  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */

}

.side-by-side-text h4 {
  flex: 0.5;
  font-size: 30pt;
  color: #f0dc95;
  font-family: 'BabyDoll', sans-serif;
  line-height: 0.9; 
  text-align:center;
  padding-top: 5vh;
}

.side-by-side-text p {

  padding-left: 5vh;
  flex: 2;  /* Allows <p> to take up remaining space */
  line-height: 1.3;
  font-family: 'Sen', serif;
  font-size: medium;
  font-weight: 400;
  color: #212653;
  width: 15vw;
  height: auto;
  text-align: center;

  /* Centering the text inside the <p> */
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */

}


.content-tag{
  height: auto;
  width: 15vw;
  display: flex;   
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  margin-top: auto;
  padding-bottom: 1vh;
}

.content-tag .tag {
  color: #ff9d47;              /* White text */
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;

  display: flex;
  text-align: center;

  text-align: center; /* Center the text */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */

}

/* Hover effect */
.content-tag .tag:hover {
  color: #212653;             /* Change text color on hover */
}



.filters {
  margin-left: 10px; /* Adjusts the left side of the second item */
  height: 90vh;
  width: 30vw;
  background-color: #FFE05F;
  position: sticky;
  top: 5vh;
  margin-bottom: 4vh;
  
  border-radius: 30px; /* Adds rounded corners */
  margin-right: 50px;
  padding: 5%;

  font-family: 'BabyDoll', sans-serif;
  
  display: flex;             /* Enables Flexbox */
  flex-direction: column;    /* Arranges children vertically */
  align-items: center;       /* Centers children horizontally */
  justify-content: center;   /* Optional: centers children vertically */
}

.filters-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.filter-buttons-group {
  margin-bottom: 5px; /* Adds space between button groups */

}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;       /* Allows buttons to wrap onto new rows */
  justify-content: center; /* Centers buttons horizontally */
  gap: 15px 20px;        /* Adds 15px gap between rows and 20px gap between columns */
  border-radius: 1000px;
}
/* Normal button style */
.filter-buttons .filter-btn {
  background-color: transparent;
  color: #212653;
  border: 2px dotted #212653;
  border-radius: 100px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Hover state */
.filter-buttons .filter-btn:hover {
  background-color: #f7f7f7;
  color: #212653;
  border-color: #212653;
}

/* Active state */
.filter-buttons .filter-btn.active {
  background-color: #212653;
  color: #FFE05F;
  border: none;
}


/* Normal button hover state (before excluding) */
.filter-buttons .filter-btn:hover:not(.active):not(.exclude) {
  background-color: #f7f7f7;
  color: #212653;
  border-color: #212653;
  text-decoration: 2px line-through dotted; /* Dotted line across the text */
  text-decoration-thickness: 2px; /* Optional: Adjust line thickness */
}

/* Exclude state */
.filter-buttons .filter-btn.exclude {
  background-color: transparent;
  color: #ff3b3b;
  border: 2px dashed #ff3b3b;
  opacity: 0.8;
  text-decoration: 2px line-through solid;
}

/* Exclude state hover */
.filter-buttons .filter-btn.exclude:hover {
  background-color: #ffe6e6;
  color: #ff1f1f;
  border-color: #ff1f1f; /* Dotted line through text */
}


@media (max-width: 991.98px) {

}



/* ----------------------------------------------------------------------------------------------- */


/* Footer container */
.footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: whitesmoke;
  height: 100vh;
  font-family: 'BabyDoll', sans-serif;
}

/* Top section of the footer */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 20px;
}

/* Left section of the footer */
.footer-left {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right section of the footer */
.footer-right {
  width:52%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 10vh;
  color: #212653;
}

/* Footer logo container */
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer logo image */
.footer-logo img {
  max-width: 65%;
  height: auto;
  object-fit: contain;
}


/* Centering the entire contacts section */
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 1vh; /* Adjust gap as needed */
}

.footer .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures proper spacing */
  padding-left: 3vh;
  width: 100%;
}

.footer .social-item {
  display: flex;
  justify-content: center; /* Centers items vertically */
  align-items: center; /* Centers items horizontally */
  height: 10vh; /* Full viewport height for vertical centering */
}


.footer .contact-go {
  margin-left: auto;
  display: block; /* Ensure it's treated as a block-level element */
  height: auto;
  width: 25px; /* Adjust width if needed */
}

/* Shared CSS for email and hp icons */
.icon-contact {
  width: 20px;
  height: auto;
  margin-right: 8px;
}

/* Shared CSS for social icons */
.icon-social {
  width: auto;
  height: 4vh;
  margin-right: 5px;
}

/* Specific CSS for "The making of" icon */
.icon-making {
  width: auto;
  height: 3vh;
  margin-left: 5px;
}

.dotted-separator {
  width: 45vw;
  height: 5px; /* Adjust to control the size of the dots */
  margin: 10px 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><circle cx="5" cy="5" r="2" fill="black"/></svg>');
  background-repeat: repeat-x;
  background-size: 5px 5px; /* Adjust dot spacing */
}

/* Bottom section of the footer */
.footer-bottom {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.footer-bottom-item {
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
  color: #212653;
  border-radius: 8px;
}

#autography-font {
  font-family: 'Autography', cursive; /* Use 'cursive' as a fallback */
  font-size: 25px;
  padding-right: 0.5vw;
}


/*
.hover {
  border: none;
  background: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.hover::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border: 2px solid blue;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease;
}

.hover:hover::after {
  width: 5px;
  height: 5px;
}
*/
